.springish {
    animation: springish;
    animation-iteration-count: 1;
    animation-duration: 2.38s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.beat {
    animation: beat;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes beat {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}


@keyframes springish {
    0.00% {
        transform: scale(0);
    }

    10.16% {
        transform: scale(1.4106);
    }

    21.39% {
        transform: scale(0.8391);
    }

    32.62% {
        transform: scale(1.0631);
    }

    43.85% {
        transform: scale(0.9753);
    }

    55.08% {
        transform: scale(1.0097);
    }

    66.31% {
        transform: scale(0.9962);
    }

    77.54% {
        transform: scale(1.0015);
    }

    88.77% {
        transform: scale(0.9994);
    }

    100.00% {
        transform: scale(1.0002);
    }
}
