@import url("https://fonts.cdnfonts.com/css/gloock-2");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
/* @import url("https://fonts.cdnfonts.com/css/arial-mt"); */

:root {
    --dimension-em: 1em;
    --dimension-px: 1px;
    --red-color: #ff6868;
    /* --orange-color: #ffae74;
    --purple-color: #a962dc;
    --blue-color: #9cd0ff;
    --green-color: #548f73; */
    --dark-background-color: #1b1b1b;
    --light-background-color: #ebebeb;
    --dark-text-color: #333;
    --light-text-color: #ebebeb;
    --dark-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    --light-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
    --dark-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    --light-text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    --transition: all 0.2s linear;

    --gloock-font-family: "Gloock", sans-serif;
    --helvetica-neue-family: "Helvetica Neue", sans-serif;
    --arial-rounded-family: "Arial Rounded MT Bold", sans-serif;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: rgb(226, 59, 38);
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgb(20, 20, 20);
}

::selection {
    background: var(--dark-text-color);
    color: var(--red-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    font-weight: 300;

    background-color: var(--dark-background-color);
    background-image: url("./public/assets/neo-bg.jpeg");
    alt: "Credit: TimelessArt";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    animation: shadowInside 10s ease-in-out infinite;
}

@keyframes shadowInside {
    50% {
        box-shadow: inset 10px 20px 100px 0px var(--red-color);
    }
}

.screen {
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
    padding-inline: 2em;
}

.icons {
    filter: drop-shadow(0px 0px 10px #ffffff);
}

.dynamic-header {
    width: 250px;
    height: 50px;
    outline: 0;

    background-color: #020202;
    border-radius: 25px;
    margin: 30px 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    animation-duration: 4s;
    transition: width 638ms, height 800ms, border-radius 300ms,
        padding-bottom 638ms;

    &:focus {
        padding-bottom: 6.5em;
        width: 400px;
        height: 150px;
        border-radius: 40px;
    }
}

.circle {
    border-radius: 1000px;
    border: 5px solid rgb(226, 59, 38);
    width: 5px;
    height: 5px;
    padding: 0px;
}

main {
    margin-top: 40vh;
}

section.neo {
    padding-top: 10em;
    padding-bottom: 15em;
    inset: 100%;
    backdrop-filter: blur(40px);
    mask: linear-gradient(180deg, transparent, black 30%);
    -webkit-mask: linear-gradient(180deg, transparent, black 30%);

    & h1 {
        margin-block: var(--dimension-em);
        color: var(--light-text-color);
        font-weight: 800;
        opacity: 0.8;
        letter-spacing: -0.2px;
        transition: font-size 0.1s ease, opacity 0.1s ease;
    }

    & .titles {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: var(--dimension-em);
    }

    & .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        color: var(--light-text-color);
        opacity: 0.8;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 4px 8px;
        border-radius: 9px;
        transition: font-size 0.1s ease, opacity 0.1s ease;
    }
}

section.about-me {
    inset: 100%;
    backdrop-filter: blur(40px);
    background-color: rgb(18, 24, 31);
    box-shadow: 0 0 125px 120px rgb(18, 24, 31);
    color: var(--light-text-color);

    & > div {
        margin-inline: clamp(15px, 10vw, 150px);
        padding-block: 5em;

        &.first-info {
            display: flex;
            gap: 5em;
            justify-content: center;
            align-items: flex-start;
            border-bottom: 1px dashed gray;
        }
    }

    & .title {
        font-family: var(--gloock-font-family);
        font-size: clamp(0.6em, 2vw, 1.7em);
        display: inline;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        color: var(--light-text-color);
        opacity: 0.8;
        padding: 4px 8px;
        border-radius: 23px;
        border: 0.25px dashed var(--light-text-color);
        transition: font-size 0.1s ease, opacity 0.1s ease;
    }

    & h2 {
        letter-spacing: 1.2px;
        color: var(--light-text-color);
        opacity: 0.7;
    }

    & p {
        margin-top: 1em;
        opacity: 0.9;
    }

    & img {
        height: 300px;
        width: fit-content;
        object-fit: cover;
        border-radius: 13px;
        box-shadow: 0 0 0px 3px rgba(251, 115, 115, 0.5),
            0 0 0px 6px rgba(251, 115, 115, 0.3),
            0 0 0px 9px rgba(251, 115, 115, 0.2);
        mix-blend-mode: exclusion;
    }
}

.gloock {
    font-family: var(--gloock-font-family);
}

.followers {
    font-size: small;
    font-weight: 100;
    color: var(--light-text-color);
    margin-top: var(--dimension-em);
    font-variation-settings: "wdth" 125;
    opacity: 0.8;

    & strong {
        font-size: large;
        font-weight: 500;
        font-variation-settings: "wdth" 100;
    }
}

div.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: var(--dimension-em);
    & > img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center 20%;
        border-radius: 1000px;
        animation-duration: 3.2s;
        transition: width 0.1s ease-in-out;
    }
}

@keyframes springish {
    0.00% {
        transform: scale(0);
    }
    10.16% {
        transform: scale(1.4106);
    }
    21.39% {
        transform: scale(0.8391);
    }
    32.62% {
        transform: scale(1.0631);
    }
    43.85% {
        transform: scale(0.9753);
    }
    55.08% {
        transform: scale(1.0097);
    }
    66.31% {
        transform: scale(0.9962);
    }
    77.54% {
        transform: scale(1.0015);
    }
    88.77% {
        transform: scale(0.9994);
    }
    100.00% {
        transform: scale(1.0002);
    }
}

.springish {
    animation: springish;
    animation-iteration-count: 1;
    animation-duration: 2.38s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
    mix-blend-mode: color;
    margin-inline: clamp(15px, 10vw, 150px);
    padding-block: 5em;

    & h3 {
        font-family: var(--gloock-font-family);
        color: var(--light-text-color);
    }
    & p {
        color: #ccc;
        opacity: 0.7;
        font-size: x-small;
    }
}

.highlighted {
    color: color-mix(in srgb, var(--red-color) 30%, white 30%);
    opacity: 1 !important;
}

@media (max-width: 768px) {
    .first-info {
        flex-direction: column;

        & img {
            width: 100% !important;
            height: 150px !important;
        }
    }
}
