@import url("https://fonts.cdnfonts.com/css/gloock-2");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import url("https://fonts.cdnfonts.com/css/arial-mt");

:root {
    --dimension-em: 1em;
    --dimension-px: 1px;
    --red-color: #ff6868;
    --orange-color: #ffae74;
    --purple-color: #a962dc;
    --blue-color: #9cd0ff;
    --green-color: #548f73;
    --dark-background-color: #1b1b1b;
    --light-background-color: #ebebeb;
    --dark-text-color: #333;
    --light-text-color: #ebebeb;
    --dark-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    --light-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
    --dark-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    --light-text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    --transition: all 0.2s linear;

    --gloock-font-family: "Gloock", sans-serif;
    --helvetica-neue-family: "Helvetica Neue", sans-serif;
    --arial-rounded-family: "Arial Rounded MT Bold", sans-serif;
}

::-webkit-scrollbar {
    width: 0.25em;
}

::-webkit-scrollbar-track {
    background: var(--dark-background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(
        45deg,
        var(--dark-background-color),
        var(--light-background-color)
    );
}

::selection {
    background: var(--blue-color);
    color: var(--dark-text-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    font-weight: 300;

    background-color: var(--dark-background-color);
    background-image: url("./public/assets/neobg-p.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.screen {
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
    padding-inline: 2em;
}

.dynamic-header {
    width: 250px;
    height: 50px;

    background-color: #020202;
    border-radius: 25px;
    margin: 30px 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    animation-duration: 4s;
    transition: width 400ms, height 700ms, border-radius 300ms,
        align-items 300ms;

    &:hover {
        align-items: flex-start;
        width: 400px;
        height: 150px;
        border-radius: 26px;
    }
}

main {
    margin-top: 40vh;
}

section.neo {
    padding-block: 5em;
    inset: 100%;
    backdrop-filter: blur(40px);
    mask: linear-gradient(180deg, transparent, black 30%);
    -webkit-mask: linear-gradient(180deg, transparent, black 30%);

    & h1 {
        margin-block: var(--dimension-em);
        color: var(--light-text-color);
        font-weight: 800;
        opacity: 0.8;
        letter-spacing: -0.2px;
    }

    & .titles {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: var(--dimension-em);
    }

    & .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        color: var(--light-text-color);
        opacity: 0.8;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 4px 8px;
        border-radius: 9px;
    }
}

.gloock {
    font-family: var(--gloock-font-family);
}

.followers {
    font-size: small;
    font-weight: 100;
    color: var(--light-text-color);
    margin-top: var(--dimension-em);
    font-variation-settings: "wdth" 125;
    opacity: 0.8;

    & strong {
        font-size: large;
        font-weight: 500;
        font-variation-settings: "wdth" 100;
    }
}

div.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: var(--dimension-em);
    & > img {
        width: clamp(50px, 50%, 75px);
        border-radius: 100px;
        animation-duration: 3.2s;
    }
}

@keyframes springish {
    0.00% {
        transform: scale(0);
    }
    10.16% {
        transform: scale(1.4106);
    }
    21.39% {
        transform: scale(0.8391);
    }
    32.62% {
        transform: scale(1.0631);
    }
    43.85% {
        transform: scale(0.9753);
    }
    55.08% {
        transform: scale(1.0097);
    }
    66.31% {
        transform: scale(0.9962);
    }
    77.54% {
        transform: scale(1.0015);
    }
    88.77% {
        transform: scale(0.9994);
    }
    100.00% {
        transform: scale(1.0002);
    }
}

.springish {
    animation: springish;
    animation-iteration-count: 1;
    animation-duration: 2.38s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
