* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark-background-color: #1b1b1b;
    --light-background-color: #ebebeb;
    --dark-text-color: #333;
    --light-text-color: #ebebeb;

    --gloock-font-family: "Gloock", sans-serif;
    --helvetica-neue-family: "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(125, 125, 125);
}

::selection {
    background: var(--dark-text-color);
    color: rgb(203, 203, 203);
}
